.formControl {
  width: 35%;
  margin-bottom: 30px !important;
  /*background-color: snow;*/
}

.options {
  /*background-color: rgba(46, 49, 49, 0.5) !important;*/
  background-color: rgba(108, 122, 137, 1) !important;
  color: snow;
}
